/* Global */

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border-radius: 12px;
}

body {
    background:hsl(0, 0%, 24%) url(assets/background.png) no-repeat top center / cover fixed;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 18px;
    border-radius: initial;
    color: #222;
    transition: background-size 0.25s ease;
}

a {
    color: #2182f3;
    fill: #2182f3;
}

.accent {
    color: #2182f3;
    fill: #2182f3;
    font-weight: 600;
}

h1 {
    font-family: 'Oswald';
    font-size: 38pt;
    line-height: 1.23;
    font-weight: 400;
    color: #222;
    text-transform: uppercase;
}

h2 {
    font-family: 'Oswald';
    font-size: 29pt;
    line-height: 1.23;
    font-weight: 400;
    color: #222;
    text-transform: uppercase;
}

h3 {
    font-family: 'Open Sans';
    font-size: 18pt;
    line-height: 1.3;
    margin-bottom: 5px;
    font-weight: 600;
}

/* Header */

.header {
    /* display: flex; */
    width: 100%;
    height: min-content;
    padding: 10px;
    background-color: rgba(233, 244, 255, 0.75);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    margin-bottom: 9px;
}

.brand {
    display: flex;
    height: 4.5em;
    align-items: center;
}

.header h1 {
    font-size: 16pt;
    padding: 10px;
    white-space: nowrap;
}

div.logo {
    display: flex;
    height: 4.5em;
    align-items: center;
    justify-content: center;
}

img.logo {
    float: left;
    max-height: 56px;
    max-width: 380px;
}

.logo a{
    display: flex;
    height: 100%;
    text-decoration: none;
}

.menu {
    /* margin-left: auto; */
    padding: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu a {
    display: flex;
    height: min-content;
    align-items: center;
    text-decoration: none;
    color: #222;
    padding: 15px;
    margin: 0px 5px;
    transition: color 0.25s ease, background-color 0.25s ease;
}

.menu a:first-child {
    margin-left: 0px;
}

.menu a:last-child {
    margin-right: 0px;
}

.menu a:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

.menu a:active {
    background-color: hsla(0, 0%, 0%, 0.75);
    color: white;
}

.menu a.current {
    background-color: black;
    color: white;
}

.menu a.current:hover {
    background-color: hsla(0, 0%, 0%, 0.75);
    color: white;
}

.menu ul, .menu li {
    list-style: none;
}

/* Form */

input {
    width: 100%;
    box-sizing: border-box;
}

input#firstname, input#sobrenome {
    width: 100%;
}

input, select, textarea, form button {
    padding: 10px 20px;
    border: 0px solid #ddd;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #111;
    margin: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid #8ab0f8;
}

input[type=radio] {
    width: min-content;
}

input[type=submit], form button {
    background-color: rgba(0, 0, 0, 0.1);
    color: #202124;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type=submit]:hover, form button:hover {
    background-color: rgba(33, 130, 243, 1);
    color: #ffffff;
}

/* Body */

.centered {
    text-align: center;
    align-items: center;
}

.button {
    background-color: hsla(0, 0%, 0%, 0.85);
    width: 50%;
    color: white;
    fill: white;
    border: none;
    border-radius: 12px;
    margin: 16px;
    padding: 10px;
    font-size: 14pt;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.25s ease;
}

.button:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
    color: black;
    fill: black;
}

p {
    font-size: 14pt;
    font-weight: 400;
    line-height: 1.3;
}

p.citation {
    font-style: italic;
    color: rgb(83, 83, 83);
    font-size: 32pt;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.text {
    margin-top: 2px;
    margin-bottom: 2px;
}

p.subtitle {
    font-weight: bold;
}

p.signature {
    width: 100%;
    font-family: 'Pacifico';
    font-size: 14pt;
    font-weight: normal;
    text-align: right;
}

img {
    max-width: 100%;
    max-height: 100%;
}

img.crop {
    object-fit: cover;
}

.card {
    padding: 2.5% 2.5%;
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 244, 255, 0.75);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    margin: 9px 0px;
    align-self: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.reverse {
    flex-direction: row-reverse;
}

.reverse h2, .reverse p{
    text-align: right;
}

.row:last-child {
    margin-bottom: 0px;
}

.column {
    width: 49%;
    display: flex;
    flex-direction: column;
}

.single {
    width: 70%;
    margin: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.one {
    width: 98%;
}

.three {
    width: calc(98% / 3);
}

.twothirds {
    width: calc((98% / 3)*2);
}

.four {
    width: 24.5%
}

.highlight {
    text-align: center;
}

.highlight img {
    padding: 100px 0px;
    width: 30%;
}

.social {
    width: 80%;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.whatsapp {
    background-color: #25d366;
    background: -webkit-linear-gradient(0deg, #25cf43 0%, #61fd7d 100%);
    background: linear-gradient(0deg, #25cf43 0%, #61fd7d 100%);
    border-radius: 50px;
    padding: 20px;
    display: flex;
    height: 100px;
    width: max-content;
    color: white;
    fill: white;
    font-size: 28pt;
    text-decoration: none;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 0.5s ease;
}

.whatsapp p {
    font-family: 'Oswald', 'Open Sans', sans-serif;
    font-size: x-large;
    margin-left: 30px;
}

.whatsapp:hover {
    border-radius: 20px;
}

.social:hover {
    border-radius: 30%;
}

.subcard {
    background-color: hsla(0, 0%, 0%, 0.1);
    text-decoration: none;
    width: 100%;
    padding: 50px;
}

.subcard h2 {
    margin: 10px 0px;
}

.subcard p {
    margin-bottom: 0px;
}

/* Flickity */

/* external css: flickity.css */

.carousel-cell {
    margin-right: 20px;
    overflow: hidden;
}

.carousel-cell img {
    display: block;
    height: 500px;
    width: 1000px;
    object-fit: cover;
}

.parceiros-carousel-cell {
    background-color: #20212421;
    padding: 30px;
    margin-right: 20px;
    overflow: hidden;
}

.parceiros-carousel-cell img {
    display: block;
    height: 300px;
    width: 500px;
    object-fit: contain;
}

/* position dots up a bit */
.flickity-page-dots {
    bottom: -5%;
}

/* dots are lines */
.carousel .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background: #333;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-radius: 0;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: rgba(233, 244, 255, 0.75);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Resposive */

@media only screen and (max-width: 1000px) {
    .menu {
        width: 100%;
    }
    .header {
        height: min-content;
        flex-direction: column;
    }
    .brand {
        justify-content: center;
    }
    .card {
        width: 100%;
    }
    .highlight img {
        width: 60%;
    }
}

@media only screen and (max-width: 650px) {
    /* For phones: */
    .menu {
        flex-direction: column;
        height: auto;
        justify-content: center;
    }
    .menu a {
        margin: 5px 0px;
    }
    .menu a:first-child {
        margin-top: 0px;
    }
    .menu a:last-child {
        margin-bottom: 0px;
    }
    .highlight img {
        width: 75%;
        padding: 50px 0px;
    }
    .row, .reverse {
        flex-direction: column;
    }
    .reverse {
        flex-direction: row-reverse;
    }
    .reverse h2, .reverse p{
        text-align: left;
    }
    .reverse button {
        margin-left: initial;
        margin-right: initial;
    }
    .column {
        width: 100%;
        margin-bottom: 10px;
    }
    .column:last-child {
        margin-bottom: 0px;
    }
    .single {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/*Dark theme*/
@media (prefers-color-scheme: dark) {
    body {
        background:hsl(0, 0%, 9%) url(assets/background.png) no-repeat top center / cover fixed;
        color: #fff;
    }
    h1, h2 {
        color: white;
    }
    a {
        color: #8ab0f8;
        fill: #8ab0f8;
    }
    .accent {
        color: #8ab0f8;
        fill: #8ab0f8;
    }
    .button {
        background-color: hsl(0, 0%, 100%);
        color: black;
        fill: black;
    }
    
    .button:hover {
        background-color: hsla(0, 0%, 100%, 0.144);
        color: white;
        fill: white;
    }
    p.citation {
        color: rgb(212, 212, 212);
    }
    .header, .card {
        background-color: hsla(0, 0%, 13%, 0.75);
        -webkit-backdrop-filter: blur(24px);
        backdrop-filter: blur(24px);
    }
    img.logo {
        filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1));
    }
    input, select, textarea, form button {
        color: white;
    }
    select option {
        margin: 40px;
        background: rgba(0, 0, 0, 0.8);
        color: #fff;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    }
    .menu a {
        background-color: hsla(0, 0%, 0%, 0.0);
        color: #fff;
    }
    .menu a:hover {
        background-color: hsla(0, 0%, 100%, 0.144);
        color: #fff;
    }
    .menu a.current {
        background-color: #fff;
        color: #222;
    }
    .menu a.current:hover {
        background-color: #fff;
        color: #222;
    }
    .parceiros-carousel-cell {
        background-color: #ffffff11;
    }
    .parceiros-carousel-cell img {
        fill: white
    }
    .flickity-page-dots .dot {
        background: #fff !important;
    }
    .modal-content {
        background-color: hsla(0, 0%, 13%, 0.75);
    }
    .close:hover,
    .close:focus {
        color: white;
    }
}
