div.header {
    /* Título */

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: 366px;
    height: 64px;

    /* Iris/100 */

    background: #5D5FEF;

    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

p.header {
    /* Header 1 */

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.02em;
    
    /* Text/Light */
    
    color: #F7F7F7;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}