@import url(https://fonts.googleapis.com/css?family=Work+Sans);
@import url(https://fonts.googleapis.com/css?family=Inter);

:root {
    --iris100: #5d5fef;
    --iris80: #7879f1;
    --iris60: #a5a6f6;
    --iris40: #d1d2fb;
    --iris20: #d9dafc;

    --fuschia100: #ef5da8;
    --fuschia80: #f178b6;
    --fuschia60: #f6a5d4;
    --fuschia40: #fbd1f2;
    --fuschia20: #fff1f8;

    --ambar100: #ff9100;
    --ambar80: #ffad33;
    --ambar60: #ffcc80;
    --ambar40: #ffe0b3;
    --ambar20: #fff2e5;

    --lima100: #00c853;
    --lima80: #33d679;
    --lima60: #80e8b3;
    --lima40: #b3f2d1;
    --lima20: #e5fff2;

    --accent100: var(--iris100);
    --accent80: var(--iris80);
    --accent60: var(--iris60);
    --accent40: var(--iris40);
    --accent20: var(--iris20);

    --textwhite: #f6f6f6;
    --textblack: #1e1e1e;
    --padding: 20px;
    --radius: 12px;
}

* {
    transition: background-color 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: var(--padding);
    background-color: var(--accent60);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: left-right;
    align-items: center;
    padding: 12px;
    gap: 10px;

    width: auto;
    height: 64px;

    background: var(--accent100);

    border-radius: var(--radius);
}

button {
    padding: 12px;
    border-radius: var(--radius);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-family: Inter;
    font-weight: bold;
    background-color: var(--accent80);
    color: var(--textwhite);
    transition: all 0.3s ease-in-out;
}

button.carrinho {
    background-color: #1c924d;
}

button:hover {
    background-color: var(--accent100);
}

button.carrinho:hover {
    background-color: #1b703f;
}

div.temas {
    width: 202px;
    height: 40px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
    border-radius: var(--radius);
    background-color: var(--accent60);
}

div.temas button {
    width: 0px;
    padding: 12px;
    border-radius: var(--radius);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0;
    font-family: Inter;
    font-weight: bold;
}

div.temas button.selected {
    font-size: 14px;
    width: 100px;
}

div.temas button#irisbutton {
    background-color: var(--iris100);
    color: var(--textwhite);
}

div.temas button#fuschiabutton {
    background-color: var(--fuschia100);
    color: var(--textwhite);
}

div.temas button#ambarbutton {
    background-color: var(--ambar100);
    color: var(--textwhite);
}

div.temas button#limabutton {
    background-color: var(--lima100);
    color: var(--textwhite);
}

div.temas button:hover {
    padding: 16px;
}

div.temas button.selected:hover {
    padding: 12px;
}

i {
    color: var(--textwhite);
    text-decoration: none;
}

div.menu {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;

    text-align: center;
    letter-spacing: -0.02em;
    color: var(--textblack);
}

h1 {
    font-size: 34px;
    line-height: 40px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 20px;
    line-height: 24px;
}

h1.header, h2.header, h3.header, h4.header, h5.header, h6.header {
    color: var(--textwhite);
}

body div p {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.02em;
}

div.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: var(--padding);
    border-radius: var(--radius);
    background-color: var(--accent40);
}

iframe {
    margin: 0%;
    border-radius: var(--radius);
    justify-self: center;
    border: none;
    width: 50%;
    height: 800px;
}

.carousel {
    width: 100%;
    border-radius: var(--radius);
}
  
.carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: auto;
    margin-right: 10px;
    padding: 10px;
    background: var(--accent20);
    border-radius: var(--radius);
    counter-increment: gallery-cell;
    gap: 10px;
    /* overflow: hidden; */
}

.carousel-cell img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--radius);
}

.carousel-cell h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flickity-page-dots {
    position: initial;
    margin-top: 5px;
}

.swal2-container {
    font-family: 'Inter';
}

@media only screen and (max-width: 1000px) {
    :root {
        --padding: 10px;
    }
    iframe {
        width: 100%;
    }
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        height: auto;
    }
    div.temas {
        align-items: center;
        gap: 10px;
        margin: 0px;
        position: relative;
    }
    div.menu {
        margin-left: 0;
        width: 70%;
    }
    .carousel-cell {
        width: 90%;
    }
}